# IDE
.idea
.vscode

# Virtual environments
.venv
venv

# Python cache
__pycache__
*.pyc
*.pyo

# CatBoost temp files
catboost_info/

# Other projects
innovatex/

# Model artifacts (keep in models/)
*.cbm
!models/*.cbm

# Temporary files
*.tmp
*.log